body,
header,
section,
aside,
footer,
nav,
a,
ul,
li,
p,
div,
h1,
input,
span,
em,
strong {
  margin: 0;
  padding: 0;
}
div,
h1,
h3,
h4,
h5,
h6,
header,
footer,
body,
section,
nav,
article,
aside {
  display: block;
}
body {
  background: #d791ff;
  background: -moz-linear-gradient(top, #d791ff 0, #921ff0 20%, #9215f2 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0, #d791ff), color-stop(20%, #921ff0), color-stop(100%, #9215f2));
  background: -webkit-linear-gradient(top, #d791ff 0, #921ff0 20%, #9215f2 100%);
  background: -o-linear-gradient(top, #d791ff 0, #921ff0 20%, #9215f2 100%);
  background: -ms-linear-gradient(top, #d791ff 0, #921ff0 20%, #9215f2 100%);
  background: linear-gradient(to bottom, #d791ff 0, #921ff0 20%, #9215f2 100%);
  color: white;
  font: 14px normal Arial;
  height: 100%;
}
body header div#header-container {
  zoom: 1;
}
body header div#header-container div#logo-container h1 {
  margin: 25px 0 0 15px;
  float: left;
}
body header div#header-container div#reg-form-container {
  float: right;
  margin: 15px 10px 0 0;
}
body header div#header-container div#reg-form-container input {
  width: 50%;
  padding: 2px;
  margin: 5px;
  border: 2px solid #8045ad;
  border-radius: 15px;
  background-color: #b35ef3;
  color: white;
}
body header div#header-container div#reg-form-container input:last-of-type {
  margin-left: 8px;
}
body header div#header-container div#reg-form-container #btn-register {
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: #b35ef3;
  color: white;
}
body header div#header-container:before {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
body header div#header-container:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
body header nav {
  width: 73%;
  padding: 15px;
  margin: 50px 0 0 35px;
  position: relative;
  border: 2px solid #37085b;
  border-radius: 15px;
  zoom: 1;
}
body header nav ul {
  list-style-type: none;
  zoom: 1;
}
body header nav ul li {
  display: inline-block;
}
body header nav ul li a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.4em;
}
body header nav ul li ul {
  display: none;
  padding: 0 20px 0 20px;
  border-radius: 10px;
  background-color: rgba(173, 85, 234, 0.83);
  clear: both;
}
body header nav ul li ul li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid black;
}
body header nav ul li ul li a {
  font-size: 1.2em;
}
body header nav ul li ul li:hover {
  text-decoration: underline;
}
body header nav ul li ul li:last-of-type {
  border-bottom: none;
}
body header nav ul li ul #selected {
  font-weight: bold;
}
body header nav ul li:hover ul {
  display: block;
  position: absolute;
}
body header nav ul:before {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
body header nav ul:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
body header nav:before {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
body header nav:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
body section {
  float: left;
  width: 75%;
}
body section article {
  padding: 20px 15px 15px 15px;
  margin: 15px 0 15px 15px;
  border: 2px solid #37085b;
  border-radius: 15px;
  zoom: 1;
}
body section article header {
  padding: 5px;
}
body section article header h1 {
  font-size: 1.2em;
}
body section article p {
  text-align: justify;
}
body section article footer p {
  padding: 10px 0;
  text-align: right;
}
body section article footer p a {
  text-decoration: none;
  color: #cb8ef7;
}
body section article footer p a:hover {
  text-decoration: underline;
}
body section article:before {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
body section article:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
body aside {
  display: inline-block;
  float: right;
  width: 22%;
  margin: 35px 20px 0 0;
}
body aside ul {
  list-style-type: none;
}
body aside ul li {
  margin-top: 10px;
  padding: 0 5px 10px 10px;
  border-radius: 10px;
  border: 2px solid #37085b;
}
body aside ul li:first-of-type {
  margin-top: 0;
}
body aside ul li h2 {
  font-size: 1.1em;
}
body aside ul li p {
  text-align: justify;
}
body aside ul li p strong {
  text-decoration: none;
  color: #a590b6;
}
body aside ul li p a {
  text-decoration: none;
  color: #a590b6;
}
body aside ul li li {
  border: none;
}
body aside ul li ul li {
  list-style-image: url('pic/li-dot.png');
  margin-left: 40px;
}
body footer {
  zoom: 1;
  text-align: center;
  width: 100%;
}
body footer:before {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
body footer:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
body footer p {
  padding: 30px 0;
}